asgiref
build
certifi
charset-normalizer
click
colorama
crispy-bootstrap5
Django==4.2.*
django-allauth
django-crispy-forms
django-filter
djangorestframework
git-filter-repo
idna
Markdown
packaging
pillow
pip-tools
psycopg
psycopg-binary
pyproject_hooks
python-decouple
requests
sqlparse
typing_extensions
tzdata
urllib3